@import "tailwindcss";



@theme {
    --font-custom: "Shlot", sans-serif;
}

#nav-bar {
    background-color: rgb(18,176,201);
}

@font-face {
    font-family: 'Shlot';
    src: url("../fonts/shlop-rg.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* .container-detalhes {
    height: 400px;
} */
